@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
