/* здесь используйте глобальные переменные */
$primary-color: #68b738;
$secondary-color: #f2f2f2;
$tertiary-color: #eaeaea;
$primary-font: "lato", "arial", sans-serif;
$secondary-font: "oswald", "arial", sans-serif;
$white-color:#ffffff;
$charcoal-color:#444444;
$black: #111111;
