.additional-card-item {
  @media (min-width: $breakpoint-desktop) {
    display: grid;
    grid-template-columns: 610px 244px;
    gap: 41px;
  }
}

.additional-card-item__wrapper {
  @media (min-width: $breakpoint-tablet) {
    display: flex;
  }

  @media (min-width: $breakpoint-desktop) {
    display: grid;
    grid-template-columns: 1.15fr 1fr;
    align-items: center;
  }
}

.additional-card-item__title {
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;
  color: $text-catalog-title;

  @media (min-width: $breakpoint-tablet) {
    line-height: 20px;
    margin-right: 10px;
  }

  @media (min-width: $breakpoint-desktop) {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.additional-card-item__desc {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  color: $charcoal-color;
  margin: 0;

  @media (min-width: $breakpoint-tablet) {
    font-size: 16px;
    line-height: 20px;
    margin-left: auto;
    padding-top: 3px;
    padding-right: 4px;
  }

  @media (min-width: $breakpoint-desktop) {
    display: grid;
    grid-template-columns: 85% 15%;
    margin: 0;
    padding: 0;
  }
}

.additional-card-item__name {
  margin-right: auto;

  @media (min-width: $breakpoint-tablet) {
    margin: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    text-align: start;
  }
}

.additional-card-item__number {
  @media (min-width: $breakpoint-tablet) {
    min-width: 80px;
    margin-left: 10px;
    text-align: end;
  }

  @media (min-width: $breakpoint-desktop) {
    text-align: start;
    margin-left: unset;
    word-wrap: break-word;
  }
}

.additional-card-item__button {
  width: 100%;
  margin-top: 15px;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 12px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: auto;
    margin: 0;
  }
}
