.address {

}

.address__container {
  background-color: $white-color;
}

.address__title {
  font-family: $primary-font;
  font-size: 16px;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.address__location {
  font-family: $secondary-font;
  color: $charcoal-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
