.alive-example {
  background-color: $tertiary-color;
}

.alive-example__container {

}

.alive-example__container-box {

}

.alive-example__title {
  font-family: $primary-font;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  padding-top: 25px;
  margin-bottom: 40px;
}

.alive-example__desc {
  font-family: $secondary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.alive-example__wrapper-stats {


}

.alive-example__stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  justify-content: center;
}

.alive-example__result {
  margin: 0;
  font-family: $primary-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.alive-example__compare-slider {

}

.alive-example__container-first {

}

.alive-example__container-toggle {

}

.alive-example__container-second {

}
