.alive-example {

}

.alive-example__title {
  font-family: $primary-font;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.alive-example__desc {
  font-family: $secondary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.alive-example__stats {

}

.alive-example__result {
  font-family: $primary-color;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.alive-example__compare-slider {

}

.alive-example__compare-slider-image {

}
