.alive-example {
  background-color: $tertiary-color;

  @media (min-width: $breakpoint-tablet) {
    background: linear-gradient(to bottom, $white-color 55%, $tertiary-color 55%);
  }

  @media (min-width: $breakpoint-desktop) {
    padding-bottom: 75px;
    background: linear-gradient(to bottom, $white-color 23%, $secondary-color 23%);
  }
}

.alive-example__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.alive-example__container-box {
  @media (min-width: $breakpoint-desktop) {
    max-width: 440px;
  }
}

.alive-example__title {
  line-height: 40px;
  margin-top: 25px;
  margin-bottom: 40px;

  @media (min-width: $breakpoint-tablet) {
    padding: 0;
    margin-top: unset;
    margin-bottom: 60px;
    line-height: 60px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-top: unset;
    margin-bottom: 76px;
  }
}

.alive-example__desc {
  color: $charcoal-color;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $breakpoint-tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: 70px;
    margin-bottom: 69px;
  }
}

.alive-example__wrapper-stats {
  margin-bottom: 20px;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    margin: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    flex-direction: column;
  }
}

.alive-example__stats {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: center;
  margin: 0;
  margin-bottom: 34px;

  @media (min-width: $breakpoint-tablet) {
    gap: 43px;
    justify-content: start;
    margin-bottom: 99px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-bottom: 60px;
  }
}

.alive-example__result {
  font-family: $secondary-font;
  // font-size: 14px;
  // font-style: normal;
  // font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-width: $breakpoint-tablet) {
    font-size: 20px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: end;
    margin-left: auto;
    margin-top: 11px;
    gap: 9px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    text-align: start;
    gap: 66px;
  }
}

.alive-example__compare-slider {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-bottom: 37px;
  min-height: 256px;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 auto 101px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 0 0 10px auto;
  }
}

.alive-example__container-first {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  z-index: 0;
}


.alive-example__container-second {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}


.alive-example__container-toggle {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 256px;
  transform: translate(-50%, -50%);
  border: none;
  padding: 0;
  z-index: 1;
  display: flex;

  @media (min-width: $breakpoint-tablet) {
    height: 512px;
  }
}

.alive-example__range {
  border: none;
  background-color: transparent;
  color: $social-color;
  padding: 0;
  z-index: 1;
  cursor: pointer;

  &::before {
    content: " ";
    display: block;
    position: absolute;
    width: 4px;
    border-radius: 4px;
    height: 100%;
    background-color: $social-color;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &:hover {
    color: $primary-color;
  }

  &:hover::before {
    background-color: $primary-color;
  }

  &:active {
    color: $primary-button;
    opacity: 0.6;
  }

  &:active::before {
    background-color: $primary-button;
  }
}
