.banner-action {
  background-color: $primary-color;
}

.banner-action__icon {
  font-size: 16px;
  line-height: 20px;
  color: $white-color;

  &::before {
    content: " ";
    display: block;
    background-image: url("../../images/icons/stack.svg#icon_gift");
    background-repeat: no-repeat;
    background-size: 78px 80px;
    margin: 0 auto;
    width: 78px;
    height: 80px;
  }
}


.banner-action__image-link {

}

.banner-action__desc {
  font-family: $secondary-font;
  color: $white-color;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
