.banner-action {
  background-color: $primary-color;
}

.banner-action__image-link {

}

.banner-action__desc {
  font-family: $secondary-font;
  color: $white-color;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
