.banner-action {
  display: flex;
  justify-content: center;

  @media (min-width: $breakpoint-desktop) {
    align-items: center;
    margin-left: auto;
  }
}

.banner-action__all {
  height: 100%;
  box-sizing: border-box;
  padding: 60px 60px 43px 60px;
  margin-top: 35px;
  margin-bottom: 35px;
  background:
    linear-gradient(rgba($primary-color, 0.85), rgba($primary-color, 0.85)),
    image-set(
      url("../../images/banner-mob@1x.webp") type("image/webp") 1x,
      url("../../images/banner-mob@2x.webp") type("image/webp") 2x,
      url("../../images/banner-mob@1x.png") type("image/png") 1x,
      url("../../images/banner-mob@2x.png") type("image/png") 2x);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $breakpoint-tablet) {
    width: 707px;
    padding: 60px 125px 60px 77px;
    margin-top: 70px;
    margin-bottom: 75px;
    background:
      linear-gradient(rgba($primary-color, 0.85), rgba($primary-color, 0.85)),
      image-set(
        url("../../images/banner-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/banner-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/banner-tablet@1x.png") type("image/png") 1x,
        url("../../images/banner-tablet@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 245px;
    padding: 60px 38px 42px;
    margin: 0;
    background:
      linear-gradient(rgba($primary-color, 0.85), rgba($primary-color, 0.85)),
      image-set(
        url("../../images/banner-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/banner-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/banner-desktop@1x.png") type("image/png") 1x,
        url("../../images/banner-desktop@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.banner__container {
  width: 161px;
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    text-align: start;
    width: 100%;
  }

  @media (min-width: $breakpoint-desktop) {
    text-align: center;
  }
}

.banner-action__icon {
  font-size: 16px;
  line-height: 20px;
  color: $white-color;
}


// .banner-action__image-link {

// }

.banner-action__desc {
  font-family: $secondary-font;
  color: $white-color;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $breakpoint-desktop) {
    display: unset;
  }

  &::before {
    content: " ";
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#icon_gift");
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 48px;

    @media (min-width: $breakpoint-tablet) {
      display: flex;
      align-items: center;
      margin: unset;
      flex-shrink: 0;
      width: 80px;
      margin-right: 264px;
      margin-top: -3px;
    }

    @media (min-width: $breakpoint-desktop) {
      height: 83px;
      margin: auto;
      margin-bottom: 46px;
    }
  }
}
