.button-burger {
  border: none;
  height: 24px;
  width: 24px;
  background-image: url("../../images/icons/stack.svg#button_burger");
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  // .button-burger--close {
  //   background-image: url("../../images/icons/stack.svg#");
  //   background-size: 18px 18px;
  // }
}
