.button-burger {
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-image: url("../../images/icons/stack.svg#button_burger");
  border: 0;
  height: 24px;
  width: 24px;
  background-color: $transparent;


  &--close {
    background-image: url("../../images/icons/stack.svg#");
    background-size: 18px 18px;
    display: none;
  }
}
