.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 44px;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: inherit;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  cursor: pointer;


  &--primary {
    background-color: $primary-color;
    color: $white-color;

    &:hover,
    &:focus-visible {
      background-color: $secondary-color;
    }

    &:active {
      color: rgba($white-color, 0.3);
      background-color: $secondary-color;
    }
  }


  &--secondary {
    background-color: $secondary-color;
    color: $charcoal-color;
    padding: 10px 26px;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $secondary-color-line-psevdo;
    }
  }
}
