.button-burger {
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-image: url("../../images/icons/stack.svg#button_burger");
  border: 0;
  height: 24px;
  width: 24px;
  background-color: #f2f2f2;


  &--close {
    background-image: url("../../images/icons/stack.svg#");
    background-size: 18px 18px;

    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
  }
}
