.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 44px;
  border: 0;
  cursor: pointer;


  &--primary {
    background-color: $primary-color;
    color: #ffffff;
    padding: 10px 44px;
  }

  &--secondary {
    background-color: $secondary-color;
    color: #444444;
  }

  &:hover,
  &:focus-visible, &:active {
    background-color: $secondary-color-line-psevdo;
  }

  &:active {
    background-color: $secondary-color;
    color: rgba($white-color, 0.3);
  }

  @include vp-tablet {
    padding: 14px 26px;
  }

  @include vp-desktop {
    padding: 14px 26px;
  }
}
