.card-more {
  padding-top: 21px;
  padding-bottom: 25px;

  &::before {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../../images/icons/stack.svg#plus_card_more");
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 23px;

    @media (min-width: $breakpoint-tablet) {
      width: 60px;
      height: 60px;
      margin-bottom: 50px;
    }

    @media (min-width: $breakpoint-desktop) {
      width: 60px;
      height: 60px;
      margin-bottom: 40px;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    margin-top: 82px;
    border: 2px solid $secondary-color;
    min-height: 429px;
    min-width: 324px;
    box-sizing: border-box;
    padding: 50px 20px 40px;
  }

  @media (min-width: $breakpoint-desktop) {
    min-width: 245px;
    padding: 45px 20px 40px;
  }
}

.card-more__container {
  @media (min-width: $breakpoint-tablet) {
    margin: auto;
    width: 170px;
  }
}

.card-more__title {
  color: $black;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 23px;
    line-height: 24px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-bottom: 26px;
  }
}

.card-more__desc {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;

  @media (min-width: $breakpoint-tablet) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 80px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-bottom: 89px;
  }
}

.card-more__button {
  margin-top: 17px;
  width: 100%;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    margin: auto;
    width: 90%;
  }

  @media (min-width: $breakpoint-desktop) {
    display: flex;
    margin: auto;
    width: 85%;
  }
}
