.card {
  padding-top: 20px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &--psevdo {

  }
}

.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__information {

}

.card__title {
  font-size: 16px;
  line-height: 20px;
  width: 100px;
  margin-bottom: 14px;
}

.card__link {

}

.card__desc {

}

.card__wrapper-desc {
  display: flex;
  flex-direction: column;
}

.card__wrapper-psevdo {

}

.card__button {
  grid-column: 1/-1;
  width: 100%;
  margin-top: 17px;
}

.card-more__button {

}
