.card-more {
  &::before {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../../images/icons/stack.svg#plus_card_more");
    background-size: 30px 30px;
  }
}

.card-more__image {

}

.card-more__text {

}

.card-more__title {

}

.card-more__link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.card-more__desc {

}
