.catalog {
  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 70px;
  }
}

.catalog__list {
  @media (min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: repeat(auto-fill, 324px);
    grid-auto-flow: dense;
    gap: 60px;
    justify-content: center;
  }

  @media (min-width: $breakpoint-desktop) {

    grid-template-columns: repeat(auto-fill, 245px);
    gap: 63px 80px;
  }
}

.catalog__item {
  &::after {
    content: " ";
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    background-color: $secondary-color-line-psevdo;
    margin-left: -20px;

    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
  }
}

// .catalog__card {

// }
