.container {
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $breakpoint-tablet) {
    padding: 0 30px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 0 110px;
    max-width: 1440px;
  }
}
