.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.copyright__link {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  color: $charcoal-color;
  pointer-events: none;

  &:hover .copyright__image,
  &:focus-visible .copyright__image {
    color: $primary-color;
  }

  &:active {
    .copyright__image,
    .copyright__name {
      opacity: 0.3;
    }
  }
}

.copyright__name {
  margin-right: auto;
  pointer-events: all;


  @media (min-width: $breakpoint-tablet) {
    padding-left: 8px;
    margin-right: 21px;
  }
}

.copyright__image {
  pointer-events: all;
  flex-shrink: 0;
}
