.desc-product {
  font-family: $secondary-font;
  color: $charcoal-color;
  display: flex;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.desc-product__name {


  text-align: center;
  font-size: 12px;
  line-height: 16px;
  margin-right: auto;
}

.desc-product__number {
  text-align: center;
}
