.form-data {
  font-family: $secondary-font;
  color: $charcoal-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $breakpoint-tablet) {
    font-size: 20px;
    line-height: normal;
  }
}
