.hero-section {
  display: flex;
  color: $white-color;
  overflow: hidden;
  min-height: 478px;
  background: linear-gradient(#414045, #414045);
  background-repeat: no-repeat;
  background-size: auto 302px;
  margin-bottom: 17px;

  @media (min-width: $breakpoint-tablet) {
    color: $primary-text;
    margin: 0;
    background: none;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-top: 29px;
    margin-bottom: 82px;
  }
}


.hero-section__container-background {
  width: 100%;
  background:
    linear-gradient(rgba($primary-color, 0.85) 62.4%, rgba($primary-color, 0.85)),
    image-set(
      url("../../images/promo-background-mobil@1x.webp") type("image/webp") 1x,
      url("../../images/promo-background-mobil@2x.webp") type("image/webp") 2x,
      url("../../images/promo-background-mobil@1x.png") type("image/png") 1x,
      url("../../images/promo-background-mobil@2x.png") type("image/png") 2x);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 302px;

  @media (min-width: $breakpoint-tablet) {

    background: none;
    margin: 0 auto;
  }

  @media (min-width: $breakpoint-desktop) {
    width: unset;
    margin: 0;
    margin-bottom: 182px;

    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      z-index: 0;
      background:
        linear-gradient(to right, rgba($primary-color, 0.85) 50%, rgba($primary-color, 0.85) 50%),
        image-set(
          url("../../images/promo-background-desktop@1x.webp") type("image/webp") 1x,
          url("../../images/promo-background-desktop@2x.webp") type("image/webp") 2x,
          url("../../images/promo-background-desktop@1x.jpg") type("image/jpg") 1x,
          url("../../images/promo-background-desktop@2x.jpg") type("image/jpg") 2x);
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 50vw 694px, contain;
    }

    &::after {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      background: linear-gradient(#414045, #414045);
      background-size: 50vw 694px;
      z-index: -1;
    }
  }
}

.hero-section__container-block {
  width: 100vw;
}

.hero-section__container-box {

  position: relative;
  display: flex;
  flex-direction: column;
}

.hero-section__container-title {
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    text-align: start;
    margin-left: 90px;
    position: relative;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-left: 80px;
    max-width: 430px;
  }
}

.hero-section__title {

  padding-top: 27px;
  margin-bottom: 25px;
  line-height: 36px;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 65px;
    margin-bottom: 40px;
    line-height: 60px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-top: 53px;
  }
}

.hero-section__desc {
  font-family: $secondary-font;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $breakpoint-tablet) {
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 50px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-bottom: 52px;
  }
}


.hero-section__container-image {
  display: flex;
  justify-content: center;
  order: 1;
  z-index: 1;
  margin-bottom: 3px;

  & img {
    display: block;
  }

  @media (min-width: $breakpoint-tablet) {
    order: 2;
    z-index: -1;
    margin-bottom: unset;
    margin-top: -83px;
  }

  @media (min-width: $breakpoint-desktop) {
    position: absolute;
    top: 0;
    left: calc(40% - 41px);
    z-index: 1;
    margin-top: unset;
  }
}

.hero-section__container-button {
  order: 2;

  @media (min-width: $breakpoint-tablet) {
    order: 1;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-left: 80px;
  }
}

.hero-section__button {
  @media (min-width: $breakpoint-tablet) {
    display: inline-block;
    margin-left: 90px;
    padding: 14px 28px;
    font-size: 20px;
    line-height: 26px;
    order: 1;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 0;
  }
}
