.input-field {
  font-family: $secondary-font;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 15px 13px 15px;
  border: 1px solid #e7e7e7;

  @media (min-width: $breakpoint-tablet) {
    font-size: 20px;
    line-height: normal;
    padding: 14px 20px 13px;
  }

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus-visible {
    outline: 2px solid $charcoal-color;
  }

  &:disabled {
    background-color: $error-color;
  }

  &--error {
    outline: 2px solid $error-color;
  }

  &--error ~ .icon {
    color: $error-color;
  }

  &--icon {
    padding-right: 33px;

    &:focus-visible ~ .icon {
      color: $primary-color;
    }
  }
}
