.input-field {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 300px;
  padding: 0;
  padding-right: 30px;

  &--name {

  }

  &--weight {

  }

  &--age {

  }

  &--email {

  }

  &--textarea {

  }
}
