.main-footer {
  background-color: $secondary-color;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-footer__container {
  display: flex;
  flex-direction: column;
}

.main-footer__logo {
  display: block;
  text-align: center;

  &::after {
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background-color: $secondary-color-line-psevdo;
  }
}

.main-footer__social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-footer__copyright {
  &::before {
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    background-color: $secondary-color-line-psevdo;
  }
}
