.page {
}

.page__body {
  display: flex;
  flex-direction: column;
  background-color: #cccccc;
  color: #000000;
  font-size: 24px;
  line-height: 1.5;
}

.page__header {
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
  height: 100%;
}

.page__footer {
  flex-shrink: 0;
}
