.page {
  height: 100%;
  font-size: 14px;
  font-family: $secondary-font;
  line-height: 18px;
}

.page__body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #cccccc;
  color: #000000;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

.page__header {
  display: flex;
  flex-shrink: 0;
}

.page__main {
  // display: flex;
  flex-grow: 1;
  height: 100%;
}

.page__footer {

  flex-shrink: 0;
}
