.product-card {
  line-height: 37px;
  background-color: $secondary-color;

  &--slim {

  }

  &--slim::before {
    content: "";
    display: inline-block;
    background-image: url("../../images/icons/stack.svg#cat-slim");
    background-size: cover;
    background-repeat: no-repeat;
    width: 36px;
    height: 50px;
  }

  &--pro {
  }

  &--pro::before {
    content: "";
    display: inline-block;
    background-image: url("../../images/icons/stack.svg#cat-pro");
    background-size: cover;
    background-repeat: no-repeat;
    width: 67px;
    height: 28px;
  }
}

.product-card__title {
  font-family: $primary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.product-card__desc {
  color: $charcoal-color;
  font-family: $secondary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.product-card__link {
  font-family: $primary-font;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}
