.selection-programm {
  background-color: $white-color;
}

.selection-programm__container {
  @media (min-width: $breakpoint-tablet) {
    margin-left: 40px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 0;
  }
}


.selection-programm__title {
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 37px;

  @media (min-width: $breakpoint-tablet) {
    line-height: 60px;
    margin-top: 65px;
    margin-bottom: 54px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-top: 74px;
    margin-bottom: 55px;
  }
}

.selection-programm__desc {
  font-family: $primary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 50px;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $breakpoint-tablet) {
    font-size: 20px;
    line-height: 30px;
    max-width: 350px;
    padding-right: unset;
    margin-bottom: 1px;
  }
}

.selection-programm__form {
  @media (min-width: $breakpoint-tablet) {
    padding: 0 40px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 0;
  }
}

.selection-programm__container-button {
  margin-top: 15px;
  margin-bottom: 32px;

  @media (min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: unset;
    margin-bottom: 60px;
  }

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: 570px 1fr;
    gap: 80px;
    margin-bottom: 80px;
  }
}

.selection-programm-button {
  width: 100%;

  @media (min-width: $breakpoint-tablet) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $breakpoint-desktop) {
    max-width: 750px;
  }
}

.selection-programm__necessarily {

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  margin-top: 21px;

  @media (min-width: $breakpoint-tablet) {
    margin-top: unset;
    display: flex;
    align-items: center;
  }
}
