.social-media {
  color: $social-color;
}

.social-media__list {
  display: flex;
  gap: 24px;
}

.social-media__item {

}

.social-media__link {
  color: $social-color;

  &--vkontakte {

  }

  &--youtube {

  }

  &--telegram {

  }
}

.social-media__icon {
  &:hover,
  &:focus-visible {
    color: $primary-color;
  }

  &:active {
    color: $primary-color;
    opacity: 0.4;
  }
}
