.social-media__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;

  @media (min-width: $breakpoint-tablet) {
    margin-left: 40px;
  }
}

.social-media__item {
  display: inline-flex;
}

.social-media__link {
  display: inline-flex;
  color: $social-color;

  &:hover,
  &:focus-visible {
    color: $primary-color;
  }

  &:active {
    color: $primary-color;
    opacity: 0.3;
  }
}
