.stats-list {

}

.stats-list__item {

}

.stats-list__result-title {
  font-family: $primary-font;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.stats-list__result-desc {

  font-family: $secondary-font;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
