.stats-list__item {
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  position: relative;
  min-width: 121px;

  @media (min-width: $breakpoint-tablet) {
    min-width: 158px;
  }
}

.stats-list__result-title {
  font-family: $secondary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 22px 17px;

  @media (min-width: $breakpoint-tablet) {
    font-size: 30px;
    line-height: 37px;
    padding: 13px 31px 20px;
  }
}

.stats-list__result-desc {
  margin: 0;
  color: $charcoal-color;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  background-color: $tertiary-color;
  position: absolute;

  @media (min-width: $breakpoint-tablet) {
    font-size: 14px;
    line-height: 14px;
    background-color: $white-color;
    width: 135px;
    top: 88%;
  }

  @media (min-width: $breakpoint-desktop) {
    background-color: $secondary-color;
  }
}
