.survey-animal {

}

.survey-animal__fieldset {

}

.survey-animal__characteristic {
  &--name {

  }

  &--weight {

  }

  &--age {

  }

  &--email {

  }

  &--phone {

  }

  &--comments {

  }
}

.survey-animal__label {
  display: flex;
  align-items: center;
  font-family: $primary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  height: 40px;
  width: 280px;

  &--email {

  }
}

.survey-animal__title {
  font-family: $primary-font;
  color: $charcoal-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.survey-animal__input {
  font-family: $primary-font;
  color: $charcoal-color;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  height: 40px;
  margin-left: auto;
}

.survey-animal__list {

}

.survey-animal__item {

}

.survey-animal__legend {
  font-family: $primary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.survey-animal__icon {
  &--message {
    position: relative;
    left: -20px;
  }

  &--phone {
    position: relative;
    left: -20px;
  }
}
