.title {
  font-family: $secondary-font;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  position: relative;


  &--tiny {
    font-size: 16px;


    @media (min-width: $breakpoint-tablet) {
      font-size: 20px;
    }
  }

  &--sm {
    font-size: 24px;

    @media (min-width: $breakpoint-tablet) {
      font-size: 36px;
    }
  }

  &--medium {
    font-size: 36px;
    // line-height: 36px;

    @media (min-width: $breakpoint-tablet) {
      font-size: 60px;
    }
  }

  &--green-psevdo {
    position: relative;
    max-width: 226px;

    @media (min-width: $breakpoint-tablet) {
      max-width: 512px;
    }
  }

  &--green-psevdo::before {
    content: "";
    position: absolute;
    top: 67%;
    right: calc(100% + 39px);
    width: 100vw;
    height: 2px;
    background-color: $primary-color;
  }

  &--green-psevdo::after {
    content: "";
    position: absolute;
    top: 66%;
    left: calc(100% + 40px);
    width: 100vw;
    height: 2px;
    background-color: $primary-color;
  }
}
